.post,
.top_section {
  /* max-width: 1600px; */
  margin: 0 auto 7vh;
}

.highlights {
  list-style: circle;
  list-style-type: disc;
}

.highlights li{
  margin-bottom: 5px;
}

.top_section {
  background-color: rgba(52, 54, 94, 1);
  color: bisque;
  padding: 5vh 10vh;
  display: flex;
  column-gap: 5rem;
  justify-content: space-between;
}

.top_section_left {
}

.top_section_left h1{
  font-size: 4rem;

}

.top_section_left > * {
  margin-bottom: 2vh;
}

.category_container {
  display: flex;
}

.top_section_right {
  max-width: 400px;
  min-width: 300px;

}

.top_img_container {
  width: 100%;
}

.top_img_container img {
  border-radius: 2rem;
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 1px solid rgba(255, 192, 187, 0.12);
}

.post {
  max-width: 1020px;
  line-height: 1.5;
  text-wrap: wrap;
  padding: 4vh 10vh;
  font-size: 1rem;
  font-weight: lighter;
}

.post p {
  margin-bottom: 1.2rem;
}

.post h2 {
  margin-bottom: 1rem;
}

.post table {
  margin-bottom: 1rem;
}

.post table tr {
  border-bottom: 1px solid rgba(52, 54, 94, 0.3);
}


.post table tr:nth-of-type(1) {
  background-color:  rgba(52, 54, 94, 1);
  color: bisque;
  font-size: 1.2rem;
}

.post table tr:last-of-type {
  border-bottom: none
}


.post table tr td:nth-of-type(1) {
  font-weight: bold;
}

.share {
  display: flex;
  gap: 0.5rem;
}


@media (max-width: 1024px) {
  .top_section_left h1{
    font-size: 2.5rem;
  
  }
}

@media (max-width: 768px) {

  .post,
  .top_section
  {
    padding: 4vh;
   }

   .top_section {
    display: block;
  }

  .top_section_right {
   width: 100%;
   max-width: unset;
   min-width: unset;
  
  }

  .post table {
    font-size: 0.7rem;
  }

  .post table tbody {
    width: 100%;
  }

  .post table td {
    width: auto;
  }

  .post table tr:nth-of-type(1) {
    font-size: 0.7rem;
  }
  


  }