


.globalcontent {
  display: flex;
  flex-direction: column;
  /* z-index: 1; */
  /* justify-content: center; */
}

.footersubscribe form button,
.hero_subscribe_wrap button,
.pagination_section button {

}

.categorylist {
  list-style: none;
}

.headerContainer,
.searchwrap,
.top_section,
.footerContent,
.herowrap,
.featured_section_top,
.featured_scroll,
.loop_section,
.recommended_section
{
  /* max-width: 1600px; */
  padding: 0 10vh;
}

.headerContainer {
  /* margin: 0 auto; */
}

.navshow {
  background-color: rgba(52, 54, 94, 1);;
}

.loop_global_wrap {
  color: rgba(52, 54, 94, 1);
}

.join_link {
  color: rgb(52,54,95);
  padding: 0.6em;
  border-style: none;
  background-color: rgba(255, 192, 187, 1);
  border-radius: 2rem;
  font-weight: 500;
  padding: 0.6em 1.2em;
  font-weight: bold;
}

.join_link:hover {
  color: rgb(52,54,95);
  padding: 0.6em;
  border-style: none;
  background-color: rgb(255, 178, 172);
  border-radius: 2rem;
  font-weight: 500;
  padding: 0.6em 1.2em;
  font-weight: bold;
}

.search_button {
  background-color: rgba(255, 192, 187, 0.09);;
  border-radius: 2rem;
  padding: 0.6em 1.2em;
}

.search_button span{
  padding: 0 0.5em;
}

.search_button:hover {
  background-color: rgba(255, 192, 187, 0.4);;
  border-radius: 2rem;
  padding: 0.6em 1.2em;
}

.headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5em;
  height: 90px;
  flex-wrap: wrap;
  background-color: rgb(52,54,95);
  position: relative;
}

.logoContainer {
  width: 100%;
  max-width: 90px;
}

.logo {
  width: 100%;
  height: auto;
}

.nav {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
}

.nav li{
  /* font-size: 1.2rem; */
  margin: 1em;
}

.category_dropdwon {
  display: block;
  position: absolute;
  top: 60px;
  background-color: rgb(52,54,95);
  padding-right: 20px;
  transition: all 2s ease-in-out 3s;
}

.menubutton {
  visibility: hidden;
  display: none;
}

.mobilemenu {
  display: none;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.closebutton {
  text-align: right;
}

.smallnav {
  padding-top: 1em;
  /* font-size: 1rem; */
}

.headersearch {
  border: 0;
  background-color: white;
  max-width: 2280px;
  width: 100%;
  background-color: rgb(52,54,95);;
  color: bisque;
}

.searchwrap {
  padding: 4vh 10vh;
}

.searchdialogue {
  display: flex;
  justify-content: space-between;
}

.searchinput {
  background-color: rgb(52, 54, 95);;
  max-width: 80%;
  border: none;
  color: bisque;
  font-size: 2.5rem;
  font-weight: lighter;
}

/* footer */

.footerContent {

}

.footersubscribe {
  display: flex;
  padding: 4em 0 3em;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footersubscribe > *{
  padding-bottom: 0.5em;
}

.footersubscribe h1{
  font-size: 3rem;
  margin-right: 10vw
}

.footersubscribe > div{
  width: 600px;
}

.footersubscribe form {
  background-color: rgb(43, 45, 49);
  border-radius: 4rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  /* width: 400px; */
}

.footersubscribe form input{
  padding: 1rem 0;
  padding-left: 1.5rem;
  border-style: none;
  color: rgba(212, 162, 101, 0.5);
  background-color: transparent;
}

.footersubscribe form input::placeholder{
  color: rgba(212, 162, 101, 0.5);
  font-weight: lighter;
}

.footersubscribe form button{
  padding: 1rem 2rem;
  font-weight: bold;
  flex: 0 1 auto;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  
}

.footersubscribe form input,
.footersubscribe form button
{
  font-size: 1.5rem;
}

.submitwrapper {
  max-width: 500px;
}

.footerbuttom_logo {
  width: 200px;
}

.footerbuttom_logo img {
  width: 100%;
  height: auto;
}

.footerbuttom_top {
  border-top: 1px whitesmoke solid;
  display: flex;
  margin-top: 1em;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 8vh;
}

.footerbuttom_logo_container {
  width: 100%;
  max-width: 480px;
}
.footerbuttom_top div{
  margin-bottom: 1rem;
}

.footernav_card {
  flex-grow: 1;
}

.footernav_card ul {
  display: flex;
  padding-top: 1.5em;
  flex-wrap: wrap;
}

.footernav_card ul li{
  margin-right: 1em;
}

.footerbuttom_nav {
  display: flex;
  align-items: flex-end;
  flex: 1 0 99;
}

.footerbuttom_down {
  padding-top: 1rem;
}

.footerbuttom_logo_container p {

}

/* Main page */
.main {
  flex: 1 0 auto;
}


.hero_global_wrap {
  color: rgb(255, 228, 196);
  background-color: rgb(52,54,95);
  padding-top: 2vh;
}

.herowrap {
}

.herotextwrap {
  max-width: 1340px;
  padding: 1rem 0;
  font-size: 6rem;
}

.hero_subscribe_wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px rgba(255, 192, 187, 0.12) solid; 
  padding-bottom: 10vh;
}

.hero_subscribe_wrap button {
  margin-right: 5vh;
  padding: 0.9em 1.5em;
  font-size: 1.4rem;
  line-height: 2rem;
  border-radius: 3rem;
}

.hero_subscribe_text {
  max-width: 390px;
}

/* featured section */
.featured_section_wrap {
  /* padding: 2vh 0; */
}

.featured_section_top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 10vh;

}


.featured_section_top div {

}

.scroll_toggle {
  display: flex;
  justify-content: flex-end;

}

.scroll_toggle div {
  display: flex;
  padding-right: 2rem;
}

.featured_row {
  touch-action: pan-y;
  cursor: grab;
}

.featured_scroll {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  scroll-padding: 0 20px;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 10vh;
  cursor: grab;
  gap: 1rem;
}

.featured_scroll::-webkit-scrollbar {
  width: 0;
}

.featured_scroll > * {
  scroll-snap-align: start;
}

.article_card_wrap {
  width: 100%;
}

.feature_card_wrap {
  flex: 0 0 500px;
}

.article_category_container {
  display: flex;
  padding-bottom: 0.5rem;
  position: absolute;
  bottom: 1em;
  left: 1em;
  width: 100%;
}

.article_category {
  font-size: 0.7rem;
  border: none;
  /* color: rgba(52, 54, 94, 1); */
  color:grey;
  background-color: rgba(128, 128, 128, 0.1);
  /* background-color: white; */
  border-radius: 2rem;
  padding: 0.5em 0.8em;
  margin-right: 0.5em;
}

.post_category {
  font-size: 1rem;
  border: 1px solid #ffe4c4;
  color: bisque;
  /* background-color:  rgba(52, 54, 94, 0.2); */
  border-radius: 2rem;
  padding: 0.5em 0.8em;
  margin-right: 0.5em;
}


.feature_card_wrap div, 
.feature_card_wrap h3,
.feature_card_wrap p,
.article_card_wrap div,
.article_card_wrap h3,
.article_card_wrap p,
.loop_article_card_wrap div,
.loop_article_card_wrap h3,
.loop_article_card_wrap p,
.recom_article_card_wrap div,
.recom_article_card_wrap h3,
.recom_article_card_wrap p
 {
  padding-bottom: 0.5em;
}

.article_img_container {
  width: 100%;
  position: relative;
}

.article_img_container img {
  
  /* border: solid 1px bisque; */
  border-radius: 1rem;
  border: solid 1px rgba(52, 54, 94, 0.2);
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.featured_img_container {
  width: 100%;
  position: relative;
}

.featured_img_container img {
  border-radius: 1rem;
  border: solid 1px rgba(141, 145, 221, 0.2);
  width: 100%;
  height: 100%;
  object-fit: fill;
}




/* loop section */

.pagination_section {
  text-align: center;
  padding: 10vh 0 20vh;
}

.pagination_section button {
  background-color: rgba(52, 54, 94, 1);
  color:  rgba(255, 192, 187, 1);
  padding: 1em 1.5em;
  font-size: 1.5rem;
  border-radius: 5rem;
}

/* recommended section */
.recommended_section {
}

.recommended_section h3{
  border-top: 1px solid rgba(52, 54, 94, 0.2) ; 
  padding: 2vh 0;

}

.recommended_section > div {
  padding-bottom: 2em;
}

.recommended_section_row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;
  margin-bottom: 8vh;
}

.recom_article_card_wrap {
  width: 100%;
}

.LandingArticleHeading {
  font-size: 1.2rem;
}

.LandingSectionHeading {
  font-size: 1.5rem;
}

.hidenav {
  display: none;
}

@media (max-width: 1480px) {
  .herotextwrap {
    /* margin-bottom: 4vh; */
  }
}

@media (max-width: 1280px) {
  .herotextwrap {
    
  }


}
@media (max-width: 1024px) {
  .hero_subscribe_text {
    padding-top: 2vh;
   }

   .herotextwrap {
      font-size: 3rem;
   }

   .recommended_section_row {
    grid-template-columns: repeat(4, 1fr);
  }

  .recom_article_card_wrap:nth-child(5),
  .recom_article_card_wrap:nth-child(6) {
    display: none;
  }   
  

  .footersubscribe form button {
    
  }

  .footersubscribe form input,
  .footersubscribe form button
  {
    font-size: 1.2rem;
  }

}

@media (max-width: 768px) {
  
  .navshow {
    display: none;
    visibility: hidden;
  }

  .hidenav {
    display: block;
  }
  
  .menubutton {
    visibility: visible;
    display:block;
  }
  
  .hero_subscribe_wrap button {
    font-size: 1.2em;
    padding: 0.5em 1.4em;
    font-weight: bold;
  }
  
  .mobilemenu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: rgba(52, 54, 94, 1);
    padding: 4vh;
  }

  .categorymenu {

  }

  .recom_article_card_wrap:nth-child(5),
  .recom_article_card_wrap:nth-child(6) {
    display: block;
  }   
  
  
  .mobileNav {
    /* text-align: center; */
    font-size: 2rem;
    padding: 4vh 0 2vh;
  }

  .mobileNav ul {
    font-size: 1.5rem;
    
  }

  .join_small_link {
    color: rgb(52,54,95);
    padding: 0.3em 1.5em;
    border-style: none;
    background-color: rgba(255, 192, 187, 1);
    border-radius: 2rem;
    font-weight: 500;
    font-weight: bold;
  }

  .mobileNav ul li{
    margin: 0.5em;
  }

  .mobileNav ul li:nth-child(3) {
    margin-top: 1em;
  }

  .logoContainer {
    width: 100%;
    max-width: 60px;
  }
  
  .headerContainer,
  .footerContent,
  .herowrap,
  .featured_section_top,
  .featured_scroll,
  .loop_section,
  .recommended_section,
  .searchwrap
  {
    padding: 0 4vh;
    margin: 0 auto 3vh;
  }
  
  .searchwrap {
    padding: 2vh 4vh;

  }

   .hero_global_wrap {
    padding-top: 0;
   }

   .herotextwrap {
    font-size: 3rem;
  }

   .hero_subscribe_wrap {
    padding-bottom: 6vh;
   }

   .footersubscribe h1{
    font-size: 3rem;
    /* margin-right: 0 */
  }

   .featured_section_top {
    /* padding: 2vh 4vh; */
   }
   
   .featured_scroll {
     grid-auto-columns: 83%; 
   }


   .category_illustrations_container  {
    display: none;
    visibility: hidden;
   }

   .pagination_section {
    padding: 8vh 0;
   }

   .pagination_section button {
    font-size: 1rem;
   }


  .recommended_section_row {
    grid-template-columns: repeat(3, 1fr);
  }

  .footersubscribe > * {
    padding-bottom: 1em;
  }

  .LandingArticleHeading {
    font-size: 1.5rem;
  }
  
  .LandingSectionHeading {
    font-size: 1.2rem;
  }

  .scroll_toggle {
    visibility: hidden;
    display: none;
  }

  .searchinput {
    font-size: 1.5rem;
  }

  .feature_card_wrap {
    flex: 0 0 370px;
  }

}

@media (max-width: 480px) {
  .herotextwrap {
    padding-top: 2vh;
    font-size: 2rem;
  }



  .footersubscribe form input{
    /* font-size: 1.2rem; */
  }
  
  .footerbuttom_logo_container {
    /* font-size: 6vw; */
  }

  .loop_section_top {
    
  }

  .recommended_section_row {
    grid-template-columns: repeat(2, 1fr);
  }

  .recom_article_card_wrap:nth-child(5),
  .recom_article_card_wrap:nth-child(6)
  {
    display: none;
  }
  

  .article_img_container img {
  
  }

  .footersubscribe form input,
  .footersubscribe form button
  {
  font-size: 15px;
  }

  .footersubscribe form button {
    padding: 1rem;
  }

  .footersubscribe h1{
    font-size: 2rem;
    margin-right: 10vw
  }

  
}

@media (max-width: 350px) {

  .footersubscribe form input,
  .footersubscribe form button
  {
  /* font-size: 14px; */
  }

}