.loop_section {

}

.loop_section_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.5vh;
  padding-top: 5.5vh;
  flex-wrap: wrap;
  gap: 2rem;

}

.loop_section_top h3 {
  
}

.category_illustrations_container {
  text-align: right;
}

.category_illustrations_container p {

}

.category_illustrations {
  display: flex;
  position: relative;
  justify-content: flex-end;
  /* border: 1px white solid;s */
  height: 90px;
}

.category_illustrations div {
  border: 1px red solid;
  border-radius: 50%;
  border: white solid 0.3em;
  position: absolute;
  top: 0;
  background-color: grey;
  width: 90px;
  height: 100%;

}

.illustration_1 {
  right: 0%;
}
.illustration_2 {
  right: 40%;
}
.illustration_3 {
  right: 80%;
}
.illustration_4 {
  right: 120%;
}
.illustration_5 {
  right: 160%;
}

.loop_section_wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 2rem;
  column-gap: 2rem;
  flex-wrap: wrap;
  padding: 5em 0;
 }

 .loop_article_card_wrap {

}

@media (max-width: 768px) {
  
  .category_illustrations_container  {
    display: none;
    visibility: hidden;
   }

}
