
.globalcontent {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.footersubscribe form button,
.hero_subscribe_wrap button,
.pagination_section button {

}

.headerContainer,
.footerContent,
.herowrap,
.featured_section_wrap,
.loop_section,
.recomwnded_section
{
  max-width: 1600px;
  margin: 0 auto 7vh;
  padding: 0 10vh;
}

.headerContainer {
  margin: 0 auto;
}

.loop_global_wrap {
  color: rgba(52, 54, 94, 1);

  /* background-color:rgba(255, 192, 187, 0.11); */

}


.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5em;
  min-height: 90px;
  flex-wrap: wrap;
}

.logoContainer {
  width: 100%;
  max-width: 90px;
}

.logo {
  width: 100%;
  height: auto;
}

.headerDiv2 ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
}

.headerDiv2 ul li{
  font-size: 1.2rem;
  margin: 1em;
}

/* footer */



.footerContent {
  /* margin: 5vh 0; */
}

.footersubscribe {
  display: flex;
  padding-bottom: 1em;
  flex-wrap: wrap;
  align-items: center;
  margin: 5vh 0;
}

.footersubscribe h2{
  font-size: 2rem;
  flex: 1 0 350px;
  padding-bottom: 1em;
  margin: 5vh auto 0 0;
}

.footersubscribe > div{
  flex: 1 0 99;
  padding-bottom: 1em;
  margin: 5vh auto 0 0;
}

.footersubscribe form {
  display: flex;
  background-color: rgb(43, 45, 49);
  border-radius: 2rem;
  width: 100%; 
  
}

.footersubscribe form input{
  font-size: 1.5rem;
  padding: 0.5em 0.75em;
  border-style: none;
  background-color: transparent;
  color: rgba(255, 192, 187, 0.12);
  width: 100%;
  max-width: 250px;
}

.footersubscribe form button{

}

.footerbuttom_logo_container {
  width: 100%;
  flex: 0 0 500px;
}

.footerbuttom_logo {
  width: 200px;
}

.footerbuttom_logo img {
  width: 100%;
  height: auto;
}

.footerbuttom_top {
  border-top: 1px whitesmoke solid;
  display: flex;
  font-size: 1.5rem;
  margin-top: 1em;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 8vh;
}

.footerbuttom_top div{
  margin-bottom: 1rem;
}

.footernav_card {
  flex-grow: 1;
}

.footernav_card ul {
  display: flex;
  padding-top: 1.5em;
  flex-wrap: wrap;
}

.footernav_card ul li{
  margin-right: 1em;
}

.footerbuttom_nav {
  display: flex;
  align-items: flex-end;
  flex: 1 0 99;
}

.footerbuttom_down {
  padding-top: 1rem;
}

/* Main page */
.main {
  flex: 1 0 auto;
}

.herowrap {
  
}

.hero_global_wrap {
  color: bisque;
  background-color: rgb(52,54,95);
  padding-top: 2vh;
}

.hero_subscribe_wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
}

.herotextwrap {
  max-width: 1340px;
  padding-top: 6vh;
}

.hero_subscribe_wrap div{
  padding-bottom: 2vh;
}

.hero_subscribe_wrap button {
  margin-right: 5vh;
}

.hero_subscribe_text {
  margin-bottom: 1.6vh;
  max-width: 390px;
}

/* featured section */
.featured_section_wrap {
  padding-bottom: 2vh;
  /* background-color: bisque; */
  /* overflow: scroll; */
}

.featured_section_top {
  border-top: 1px rgba(255, 192, 187, 0.12) solid; 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5vh 0;
}

.featured_section_top div {

}

.feature_scroll {
  display: flex;
  justify-content: flex-end;
}

.feature_scroll div {
  display: flex;
  padding-right: 2rem;
}

.featured_row {
  touch-action: pan-y;
  cursor: grab;
  position: relative;
  height: 600px;

}

.featured_scroll {
  display: flex;
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  gap: 1rem;
}

.article_card_wrap {
  width: 100%;
}

.article_category_container {
  display: flex;
  padding-top: 2em;
}

.article_category {
  font-size: 80%;
  background-color: rgba(255, 192, 187, 0.09);
  border: none;
  color: rgba(255, 192, 187, 1);
  border-radius: 2rem;
  padding: 0.5em;
  margin-right: 0.5em;
}

.article_card_wrap div,
.article_card_wrap h4,
.article_card_wrap p,
.loop_article_card_wrap div,
.loop_article_card_wrap h4,
.loop_article_card_wrap p,
.recom_article_card_wrap div,
.recom_article_card_wrap h4,
.recom_article_card_wrap p
 {
  padding-bottom: 0.5em;
}

.article_img_container {
  width: 100%;
  min-width: 300px;
  overflow: hidden;
}

.article_img_container img {
  
  border-radius: 2rem;
  border: 1px solid rgba(255, 192, 187, 0.12);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* loop section */

.loop_section {

}

.loop_section_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.5vh;
  padding-top: 5.5vh;
  flex-wrap: wrap;
  gap: 2rem;

}

.category_illustrations_container {
  /* background-color: white; */
  text-align: right;
}

.category_illustrations_container p {
  /* text-align: right; */
}

.category_illustrations {
  display: flex;
  position: relative;
  justify-content: flex-end;
  /* border: 1px white solid;s */
  height: 90px;
}

.category_illustrations div {
  border: 1px red solid;
  border-radius: 50%;
  border: white solid 0.3em;
  position: absolute;
  top: 0;
  background-color: grey;
  width: 90px;
  height: 100%;

}

.illustration_1 {
  right: 0%;
}
.illustration_2 {
  right: 40%;
}
.illustration_3 {
  right: 80%;
}
.illustration_4 {
  right: 120%;
}
.illustration_5 {
  right: 160%;
}

.loop_section_wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  flex-wrap: wrap;
 }

 .loop_article_card_wrap {

}

.pagination_section {
  text-align: center;
  padding-bottom: 3vh;
}

.pagination_section button {
  background-color: rgba(52, 54, 94, 1);
  color:  rgba(255, 192, 187, 1);
}

/* recommended section */
.recomwnded_section {
  /* border-top: 1px solid grey; */
  padding-top: 1em;
}

.recomwnded_section > div {
  padding-bottom: 2em;
}

.recomwnded_section_row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;
  margin-bottom: 8vh;
}

.recom_article_card_wrap {
  width: 100%;
}



@media (max-width: 1480px) {
  .herotextwrap {
    margin-bottom: 4vh;
  }
}

@media (max-width: 1280px) {
  .herotextwrap {
    
  }
  
  
}
@media (max-width: 1024px) {


}


@media (max-width: 668px) {

  .headerDiv2 {
    display: none;
    visibility: hidden;
  }



  .herotextwrap {

  }

  .headerContainer,
  .footerContent,
  .herowrap,
  .featured_section_wrap,
  .loop_section,
  .recomwnded_section
  {
    padding: 0 4vh;
   }

   .category_illustrations_container  {
    display: none;
    visibility: hidden;
   }
}

@media (max-width: 480px) {
  .herotextwrap {
  }

  .feature_scroll {
    visibility: hidden;
    display: none;
  }

  .footersubscribe form input{
    font-size: 1.2rem;
  }
  
}